@media (max-width: 1200px) {
  header {
    /*background: mediumaquamarine;*/
  }
  .inputs input {
    width: 90%;
  }
  .bottom-footer {
    position: relative;
    width: 90%;
    justify-content: space-around;
  }
  .container {
    min-height: 80dvh;
  }
  footer {
    min-height: 20dvh;
  }
  .climate {
    position: absolute;
    top: 0%;
  }
  .about,
  .teams {
    padding: 25px;
  }
}
