body {
  font-family: "small arial", sans-serif;
  margin: 0;
}

.wrap {
  min-width: 100%;
  margin: 0 auto;
}

li {
  margin: 0;
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  font-size: 13px;
  line-height: 24px;
  color: #404040;
}

a:hover {
  text-decoration: underline;
}

/*HEADER*/

header {
  overflow: hidden;
  background-color: #f2f2f2;
  padding: 10px;
}

header ul {
  margin-right: 5px;
  letter-spacing: 1px;
  float: right;
}

header ul li {
  margin-right: 10px;
}

header ul li a:hover {
  color: black;
}

.apps:hover {
  cursor: default;
  color: black;
}

.button {
  background: #4683ea;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  line-height: 28px;
  letter-spacing: normal;
  border: none;
  border-radius: 5px;
}

.button a {
  color: white;
  font-weight: bold;
}

.button a:hover {
  text-decoration: none;
  cursor: default;
  color: white;
}

/*Main Content*/

.main {
  clear: both;
  width: fit-content;
  min-width: 60%;
  text-align: center;
  align-self: center;
  margin: auto 0;
  padding: 20px;
  flex-direction: column;
  padding-left: 20%;
  padding-bottom: 20%;
}

.main img {
  display: block;
  margin: auto;
  height: 95px;
  padding-top: 112px;
}

form {
  text-align: center;
  position: relative;
}

#searchbox {
  font-size: 16px;
  height: 26px;
  width: 100%;
  border-radius: 30px;
  max-width: 600px;
  margin-top: 30px;
  padding: 10px;
}
#searchbox :hover {
  box-shadow: 1px 1px 5px rgba(2, 2, 2, 2.2);
}
.search {
  width: 15px;
  position: relative;
  /*top: 20px;
  left: 18px;*/
  float: left;
}

.mic,
.cam {
  width: 15px;
  height: 15px;
  position: relative;
  /*top: 20px;
  left: 620px;*/
  float: right;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: #0421c5;
  position: absolute;
  top: 50.5%;
  /*transform: translateY(-57.5%);  center the icons vertically */
}
.r1 {
  left: 75%;
}
.r2 {
  left: 85%;
}

.tittle {
  font: smaller;
}

.submit {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ededed;
  font-weight: bold;
  height: 29px;
  line-height: 29px;
  margin: 16px auto;
  color: #444;
  display: inline-block;
  width: auto;
  padding: 0 10px;
}

.submit:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/*Footer*/

footer {
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  margin: auto 0; /*same effect as text-align: center*/
  height: 40px auto;
  background: #f2f2f2;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}
footer p {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: smaller;
  border-bottom: 2px solid #ddd;
}

footer ul {
  display: inline;
  flex-wrap: wrap;
}

footer a {
  letter-spacing: 1px;
  display: inline-block;
  font-size: smaller;
  margin-right: 0.5cm;
}

footer .left {
  float: left;
  display: inline;
}
footer .center {
  justify-content: center;
  align-self: center;
}
.leaf {
  width: 2px;
}
footer .right {
  float: right;
  display: inline;
}
